{% load static %}
{% include 'web/hader.html' %}
{% block body %}

<body class="pos">
<!-- ======= pos Section ======= -->
<section id="pos" class="">
    <div class="container">
        <div class="info">
            <div class="section-header">
                <div class="row">
                    <div class="col-md-3 form-group mt-2 mt-md-0">
                        <div class="section-header">
                            <a href="https://khadamatik.ir/" class="logo" aria-label="Logo" title="خدماتیک ">
                                <img src="{% static 'web/images/khadamatik_gorup_name_logo.png' %}"
                                     class="site-logo skip-data-lazy attachment-full size-full" alt="خدماتیک"></a>
                        </div>
                    </div>
                    <div class="col-md-6 form-group mt-6 mt-md-5">
                        <h2>فرم درخواست کارت خوان</h2>
                    </div>
                </div>

            </div>
            <form action="" method="post" role="form" class="pos-form" id="pos-form">

                <div class="row">
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <label for="name"> نام <span class='text-danger'>*</span></label>
                        <input type="text" name="name" class="form-control" id="name"  value="{{ loginData.name }}" placeholder="نام خود را وارد كنيد..." required>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <label for="family"> نام خانوادگی <span class='text-danger'>*</span></label>
                        <input type="text" name="family" class="form-control" id="family" value="{{ loginData.family }}" placeholder="نام خانوادگی خود را وارد كنيد..." required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="fatherName"> نام پدر<span class='text-danger'>*</span> </label>
                        <input type="text" name="fatherName" class="form-control" id="fatherName"  value="{{ loginData.fatherName }}" placeholder="نام پدر خود را وارد كنيد..." required>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="birthday"> تاریخ تولد<span class='text-danger'>*</span> </label>
                        <input type="text" name="birthday" class="form-control" id="birthday" value="{{ loginData.birthday }}" placeholder="" required data-jdp>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="codeMeli"> کد ملی<span class='text-danger'>*</span></label>
                        <input type="number" name="codeMeli" class="form-control" id="codeMeli" value="{{ codeMeli }}" placeholder="" required>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="serialMeli"> سریال پشت کارت ملی </label>
                        <input type="text" name="serialMeli" class="form-control" id="serialMeli" value="{{ loginData.serialMeli }}" placeholder="" >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="shomareSh"> شماره شناسنامه/کدثبتی<span class='text-danger'>*</span> </label>
                        <input type="number" name="shomareSh" class="form-control" id="shomareSh" value="{{ loginData.shomareSh }}"
                               placeholder="" required>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="serialSh"> سریال شناسامه<span class='text-danger'>*</span> </label>
                        <input type="text" name="serialSh" class="form-control" id="serialSh" value="{{ loginData.serialSh }}" placeholder="" required>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="seriSh"> سری شناسنامه<span class='text-danger'>*</span> </label>
                        <input type="text" name="seriSh" class="form-control" id="seriSh" value="{{ loginData.sadereh }}" placeholder="" required>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="sadereh"> صادره از/ ثبت شده در<span class='text-danger'>*</span> </label>
                        <input type="text" name="sadereh" class="form-control" id="sadereh" value="{{ loginData.sadereh }}" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <label for="ostan"> استان<span class='text-danger'>*</span> </label>
                        <input type="text" name="ostan" class="form-control" id="ostan" value="{{ loginData.ostan }}" placeholder="" required>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <label for="shahr"> شهر<span class='text-danger'>*</span> </label>
                        <input type="text" name="shahr" class="form-control" id="shahr" value="{{ loginData.shahr }}" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 form-group mt-3 mt-md-0">
                        <label for="neshaniShop"> نشانی فروشگاه/شرکت <span class='text-danger'>*</span></label>
                        <input type="text" name="neshaniShop" class="form-control" id="neshaniShop" value="{{ loginData.neshaniShop }}" placeholder="" required>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="codePosti"> کد پستی محل نصب کارت خوان <span class='text-danger'>*</span></label>
                        <input type="number" name="codePosti" class="form-control" id="codePosti" value="{{ loginData.codePosti }}" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="telephonShop"> تلفن فروشگاه <span class='text-danger'>*</span></label>
                        <input type="number" name="telephonShop" class="form-control" id="telephonShop"  value="{{ loginData.telephonShop }}" placeholder="" required>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="shomareParvane"> شماره پروانه کسب/شماره صنفی اجاره نامه <span class='text-danger'>*</span></label>
                        <input type="number" name="shomareParvane" class="form-control" id="shomareParvane"  value="{{loginData.shomareParvane}}" placeholder="" required>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="codeRehgiri">کد رهگیری مالیاتی <span class='text-danger'>*</span></label>
                        <input type="number" name="codeRehgiri" class="form-control" id="codeRehgiri"  value="{{ loginData.codeRehgiri }}" placeholder="" required>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="senf"> صنف <span class='text-danger'>*</span></label>
                        <input type="text" name="senf" class="form-control" id="senf"  value="{{ loginData.senf }}" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="teleHamrah"> تلفن همراه <span class='text-danger'>*</span></label>
                        <input type="number" name="teleHamrah" class="form-control" id="teleHamrah" value="{{ loginData.teleHamrah}}" placeholder="" required>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="bestareErtebat"> بستر ارتباطی <span class='text-danger'>*</span></label>
                        <select name="bestareErtebat" class=" form-control" id="bestareErtebat" required>
                            <option value="{{ key }}"
                                {% if loginData.bestareErtebat == value%}
                                    selected
                                {% endif %}>
                                {{ value }}
                            </option>
                            <option value="DIUALUP">DIUALUP</option>
                            <option value="GPRS">GPRS</option>
                            <option value="COMBO">COMBO</option>
                            <option value="WIFI">WIFI</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <label for="malekiyat">نوع مالکیت محل فعالیت <span class='text-danger'>*</span></label>
                        <select name="malekiyat" class=" form-control" id="malekiyat" required>
                             {% for key , value in malekType %}
                            <option value="{{ key }}"
                                {% if loginData.malekiyat == value%}
                                    selected
                                {% endif %}>
                                {{ value }}
                            </option>
                        {% endfor %}
                            <option value="ملکی">ملکی</option>
                            <option value="سرقفلی">سرقفلی</option>
                            <option value="استیجاری">استیجاری</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="mohlateEjareFrom">مهلت اجاره نامه از تاریخ</label>
                        <input type="text" name="mohlateEjareFrom" class="form-control" id="mohlateEjareFrom" value="{{ loginData.mohlateEjareFrom }}"
                               placeholder=""  data-jdp>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="mohlateEjareTo">مهلت اجاره نامه تا تاریخ </label>
                        <input type="text" name="mohlateEjareTo" class="form-control" id="mohlateEjareTo"
                               value="{{ loginData.mohlateEjareTo }}" placeholder=""  data-jdp>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="nameMoaref"> نام معرف اول <span class='text-danger'>*</span></label>
                        <input type="text" name="nameMoaref" class="form-control" id="nameMoaref" value="{{ loginData.nameMoaref }}" placeholder="" required >
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="familyMoaref"> نام خانوادگی معرف اول <span class='text-danger'>*</span></label>
                        <input type="text" name="familyMoaref" class="form-control" id="familyMoaref" value="{{ loginData.familyMoaref }}"
                               placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="telMoaref">تلفن همراه معرف اول <span class='text-danger'>*</span></label>
                        <input type="number" name="telMoaref" class="form-control" id="telMoaref" value="{{ loginData.telMoaref }}" placeholder="" required>
                    </div>
                    <div class="col-md-9 form-group mt-3 mt-md-0">
                        <label for="neshaniMoaref"> نشانی محل سکونت معرف اول </label>
                        <input type="text" name="neshaniMoaref" class="form-control" id="neshaniMoaref" value="{{ loginData.neshaniMoaref }}" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="shomareHesab"> شماره حساب اول <span class='text-danger'>*</span></label>
                        <input type="number" name="shomareHesab" class="form-control" id="shomareHesab"  value="{{ loginData.shomareHesab }}" placeholder="" required>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="nameBank"> نام بانک اول <span class='text-danger'>*</span></label>
                        <select name="nameBank" class=" form-control" id="nameBank" required>
                             <option value="{{ key }}"
                                {% if loginData.nameBank == value%}
                                    selected
                                {% endif %}>
                                {{ value }}
                            </option>
                            <option value="ایران زمین">ایران زمین</option>
                            <option value="آینده">آینده</option>
                            <option value="پست بانک">پست بانک</option>
                            <option value="خاورمیانه">خاورمیانه</option>
                            <option value="دی">دی</option>
                            <option value="رفاه">رفاه</option>
                            <option value=" سامان">سامان</option>
                            <option value="شهر "> شهر</option>
                            <option value=" صادرات">صادرات</option>
                            <option value="کشاورزی ">کشاورزی</option>
                            <option value=" گردشگری">گردشگری</option>
                            <option value="مسکن "> مسکن</option>
                            <option value=" ملی"> ملی</option>
                            <option value="اقتصاد نوین ">اقتصاد نوین</option>
                            <option value="پارسیان">پارسیان</option>
                            <option value="تجارت">تجارت</option>
                            <option value="توسعه تعاون">توسعه تعاون</option>
                            <option value="سپه">سپه</option>
                            <option value="سرمایه">سرمایه</option>
                            <option value="سینا">سینا</option>
                            <option value="صنعت و معدن">صنعت و معدن</option>
                            <option value="کار آفرین">کار آفرین</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <label for="shomareShaba">شماره شبا اول <span class='text-danger'>*</span></label>
                        <input type="number" name="shomareShaba" class="form-control" id="shomareShaba" value="{{ loginData.shomareShaba }}" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="shomareHesabTow"> شماره حساب دوم </label>
                        <input type="number" name="shomareHesabTow" class="form-control" id="shomareHesabTow" value="{{ loginData.shomareHesabTow }}" placeholder="" >
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="nameBankTwo"> نام بانک دوم </label>
                        <select name="nameBankTwo" class=" form-control" id="nameBankTwo">
                             <option value="{{ key }}"
                                {% if loginData.nameBankTwo == value%}
                                    selected
                                {% endif %}>
                                {{ value }}
                            </option>
                            <option value="ایران زمین">ایران زمین</option>
                            <option value="آینده">آینده</option>
                            <option value="پست بانک">پست بانک</option>
                            <option value="خاورمیانه">خاورمیانه</option>
                            <option value="دی">دی</option>
                            <option value="رفاه">رفاه</option>
                            <option value=" سامان">سامان</option>
                            <option value="شهر "> شهر</option>
                            <option value=" صادرات">صادرات</option>
                            <option value="کشاورزی ">کشاورزی</option>
                            <option value=" گردشگری">گردشگری</option>
                            <option value="مسکن "> مسکن</option>
                            <option value=" ملی"> ملی</option>
                            <option value="اقتصاد نوین ">اقتصاد نوین</option>
                            <option value="پارسیان">پارسیان</option>
                            <option value="تجارت">تجارت</option>
                            <option value="توسعه تعاون">توسعه تعاون</option>
                            <option value="سپه">سپه</option>
                            <option value="سرمایه">سرمایه</option>
                            <option value="سینا">سینا</option>
                            <option value="صنعت و معدن">صنعت و معدن</option>
                            <option value="کار آفرین">کار آفرین</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <label for="shomareShabaTwo">شماره شبا دوم </label>
                        <input type="number" name="shomareShabaTwo" class="form-control" id="shomareShabaTwo"  value="{{ loginData.shomareShabaTwo }}" placeholder="" >
                    </div>
                </div>
                <div class="col-md-12 form-group mt-3 mt-md-0">
                    <label for="paziresh">پذیرش <span class='text-danger'>*</span></label>
                    <br>
                    <label class="switch" id="paziresh">
                        <input type="checkbox" name="paziresh"
                               {% if loginData.paziresh %}
                                    checked="checked"
                               {% endif %}
                               required>
                        <span class="slider round"></span>
                    </label>
                    <label class="form-check-label"> تمامی حساب های اعلامی بایدفقط به نام شخص یا اشخاص پذیرنده
                        باشد.</label>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="javazKasb">جواز کسب<span class='text-danger'>*</span></label>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn ">
                                    بارگذاري فايل&hellip;
                                    <input type="file" name="javazKasb" id="javazKasb"   required multiple>
                                </span>
                            </label>
                            <input type="text" class="form-control file-name "  value="{{ loginData.javazKasb }}" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="ejarehName">اجاره نامه</label>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn ">
                                    بارگذاري فايل&hellip;
                                    <input type="file" name="ejarehName" id="ejarehName"   multiple>
                                </span>
                            </label>
                            <input type="text" class="form-control file-name " readonly>
                        </div>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="sanadMalek">سند مالکیت</label>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn ">
                                    بارگذاري فايل&hellip;
                                    <input type="file" name="sanadMalek" id="sanadMalek"  multiple>
                                </span>
                            </label>
                            <input type="text" class="form-control file-name "value="{{ loginData.sanadMalek }}" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="tsvirShenasnameh">تصویر دو صفحه اول شناسنامه<span class='text-danger'>*</span></label>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn ">
                                    بارگذاري فايل&hellip;
                                    <input type="file" name="tsvirShenasnameh" id="tsvirShenasnameh" required multiple>
                                </span>
                            </label>
                            <input type="text" class="form-control file-name " value="{{ loginData.tsvirShenasnameh }}" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="rooyeCartmeli">تصویر رو کارت ملی<span class='text-danger'>*</span></label>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn ">
                                    بارگذاري فايل&hellip;
                                    <input type="file" name="rooyeCartmeli" id="rooyeCartmeli" required multiple>
                                </span>
                            </label>
                            <input type="text" class="form-control file-name " value="{{ loginData.rooyeCartmeli }}" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="poshtCartmeli">تصویر پشت کارت ملی<span class='text-danger'>*</span></label>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn ">
                                    بارگذاري فايل&hellip;
                                    <input type="file" name="poshtCartmeli" id="poshtCartmeli" required multiple>
                                </span>
                            </label>
                            <input type="text" class="form-control file-name "value="{{ loginData.poshtCartmeli }}" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="tsvirEmzaMohr">تصویر مهر و امضا<span class='text-danger'>*</span></label>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn ">
                                    بارگذاري فايل&hellip;
                                    <input type="file" name="tsvirEmzaMohr" id="tsvirEmzaMohr" required multiple>
                                </span>
                            </label>
                            <input type="text" class="form-control file-name " value="{{ loginData.tsvirEmzaMohr }}" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="sabinFormFirst">تصویر صفحه اول فرم سابین<span class='text-danger'>*</span></label>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn ">
                                    بارگذاري فايل&hellip;
                                    <input type="file" name="sabinFormFirst" id="sabinFormFirst" required multiple>
                                </span>
                            </label>
                            <input type="text" class="form-control file-name " value="{{ loginData.sabinFormFirst }}" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="sabinFormTwo">تصویر صفحه دوم فرم سابین<span class='text-danger'>*</span></label>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn ">
                                    بارگذاري فايل&hellip;
                                    <input type="file" name="sabinFormTwo" id="sabinFormTwo" required multiple>
                                </span>
                            </label>
                            <input type="text" class="form-control file-name "value="{{ loginData.sabinFormTwo }}" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0"></div>
                </div>
                <br>
                <button id="submit" type="submit" class=" col-md-12 form-group" onclick="addData()"> ثبت اطلاعات</button>
            </form>

        </div>
    </div>
</section>
{% endblock %}
{% include 'web/footer.html' %}
{% block js %}

    <script type="text/javascript">

    function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');




        function addData(e) {

            var name = $("#name").val().trim();
            var family = $("#family").val().trim();
            var fatherName = $("#fatherName").val();
            var birthday = $("#birthday").val();
            var codeMeli = $("#codeMeli").val();
            var serialMeli = $("#serialMeli").val();
            var shomareSh = $("#shomareSh").val();
            var serialSh = $("#serialSh").val();
            var seriSh = $("#seriSh").val();
            var sadereh = $("#sadereh").val();
            var ostan = $("#ostan").val();
            var shahr = $("#shahr").val();
            var neshaniShop = $("#neshaniShop").val();
            var codePosti = $("#codePosti").val();
            var telephonShop = $("#telephonShop").val();
            var shomareParvane = $("#shomareParvane").val();
            var codeRehgiri = $("#codeRehgiri").val();
            var senf = $("#senf").val();
            var teleHamrah = $("#teleHamrah").val();

            var bestareErtebat = $("#bestareErtebat").find("option:selected").val();
            var malekiyat = $("#malekiyat").find("option:selected").val();
            var mohlateEjareFrom = $("#mohlateEjareFrom").val();
            var mohlateEjareTo = $("#mohlateEjareTo").val();
            var nameMoaref = $("#nameMoaref").val();
            var familyMoaref = $("#familyMoaref").val();
            var telMoaref = $("#telMoaref").val();
            var neshaniMoaref = $("#neshaniMoaref").val();
            var shomareHesab = $("#shomareHesab").val();
            var nameBank = $("#nameBank").val();
            var shomareShaba = $("#shomareShaba").val();
            var shomareHesabTow = $("#shomareHesabTow").val();
            var nameBankTwo = $("#nameBankTwo").val();
            var shomareShabaTwo = $("#shomareShabaTwo").val();
            var nameFamilyKarshenas = "hi";

            {#var displayed = $("#displayed").attr("checked") ? true : false;#}
            var paziresh = $("#paziresh");


            var javazKasb = document.getElementById("javazKasb").files[0];
            var ejarehName = document.getElementById("ejarehName").files[0];
            var sanadMalek = document.getElementById("sanadMalek").files[0];
            var tsvirShenasnameh = document.getElementById("tsvirShenasnameh").files[0];
            var rooyeCartmeli = document.getElementById("rooyeCartmeli").files[0];
            var poshtCartmeli = document.getElementById("poshtCartmeli").files[0];
            var tsvirEmzaMohr = document.getElementById("tsvirEmzaMohr").files[0];
            var sabinFormFirst = document.getElementById("sabinFormFirst").files[0];
            var sabinFormTwo = document.getElementById("sabinFormTwo").files[0];

            {#console.log(displayed.is(":checked"))#}

           {% comment %} if (productName === "" || brand === "" || price === "" || inventory === "") {
                Swal.fire({
                    icon: 'error',
                    title: 'خطا',
                    text: 'تمامی ایتم ها باید مقدار دهی شود!',
                    footer: '<a href="">Why do I have this issue?</a>'
                });
                return;
            }{% endcomment %}

            var formdata = new FormData();
            formdata.append('name', name);
            formdata.append('family', family);
            formdata.append('fatherName', fatherName);
            formdata.append('birthday', birthday);
            formdata.append('codeMeli', codeMeli);
            formdata.append('serialMeli', serialMeli);
            formdata.append('shomareSh', shomareSh);
            formdata.append('serialSh', serialSh);
            formdata.append('seriSh', seriSh);
            formdata.append('sadereh', sadereh);
            formdata.append('ostan', ostan);
            formdata.append('shahr', shahr);
            formdata.append('neshaniShop', neshaniShop);
            formdata.append('codePosti', codePosti);
            formdata.append('telephonShop', telephonShop);
            formdata.append('shomareParvane', shomareParvane);
            formdata.append('codeRehgiri', codeRehgiri);
            formdata.append('senf', senf);
            formdata.append('teleHamrah', teleHamrah);
            formdata.append('bestareErtebat', bestareErtebat);
            formdata.append('malekiyat', malekiyat);
            formdata.append('mohlateEjareFrom', mohlateEjareFrom);
            formdata.append('mohlateEjareTo', mohlateEjareTo);
            formdata.append('nameMoaref', nameMoaref);
            formdata.append('familyMoaref', familyMoaref);
            formdata.append('telMoaref', telMoaref);
            formdata.append('neshaniMoaref', neshaniMoaref);
            formdata.append('shomareHesab', shomareHesab);
            formdata.append('nameBank', nameBank);
            formdata.append('shomareShaba', shomareShaba);
            formdata.append('shomareHesabTow', shomareHesabTow);
            formdata.append('nameBankTwo', nameBankTwo);
            formdata.append('shomareShabaTwo', shomareShabaTwo);
            formdata.append('nameFamilyKarshenas', nameFamilyKarshenas);
            formdata.append('paziresh', paziresh.is(":checked"));
            formdata.append("javazKasb", javazKasb);
            formdata.append("ejarehName", ejarehName);
            formdata.append("sanadMalek", sanadMalek);
            formdata.append("tsvirShenasnameh", tsvirShenasnameh);
            formdata.append("rooyeCartmeli", rooyeCartmeli);
            formdata.append("poshtCartmeli", poshtCartmeli);
            formdata.append("tsvirEmzaMohr", tsvirEmzaMohr);
            formdata.append("sabinFormFirst", sabinFormFirst);
            formdata.append("sabinFormTwo", sabinFormTwo);




            swal.fire({
                title: 'ذخیره محصول',
                text: "آیا میخواهید محصول دخیره شود؟",
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله دخیره شود',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    $.ajax({
                        url: `/registerData`,
                        method: 'POST',
                        headers: {
                            //'Content-type': 'application/json',
                            //'X-CSRFToken': csrftoken,
                        },
                        processData: false,
                        contentType: false,
                        data: formdata,
                        success: function (data) {
                            console.log(data)
                            if (data['isSuccess'] === true) {
                                swal.fire(
                                    'موفق!',
                                    data['message'],
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });

                            } else {
                                console.log(data['message'])
                                swal.fire(
                                    'هشدار!',
                                    data['message'],
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                            console.log(error)
                        }

                    });

                }
            })

        }


    </script>

{% endblock %}